@model IList<Benday.EasyAuthDemo.WebUi.Models.LookupEditorViewModel>

@{
    ViewBag.Title = "Index";
}

<table class="table table-striped table-hover">
<thead class="thead-light">
    
    <tr>
		<th>Display Order</th>
<th>Lookup Type</th>
<th>Lookup Key</th>
<th>Lookup Value</th>

        <th></th>
    </tr>
</thead>
<tbody>
	@for (int i = 0; i < Model.Count; i++)
    {
        @Html.EditorFor(model => model[i])
    }
</tbody>
</table>
